1. UI Automation with Playwright TS/node_modules/
1. UI Automation with Playwright TS/playwright-report/
1. UI Automation with Playwright TS/test-results/
1. UI Automation with Playwright TS/allure-results/
1. UI Automation with Playwright TS/.env
*.log
